.weekly-tasks-box {
  flex: 1;
  min-width: 300px;
  background: var(--box);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
  height: fit-content;
}

.weekly-tasks-box ul {
  list-style: none;
  padding-left: 0;
}

.weekly-tasks-box li {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.5rem;
}
